*{
    margin:0px;
    padding:0px;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}

body{
    background-color: rgb(9, 8, 8);

}


.Card{
    width:90%;
    max-width: 470px;
    background: linear-gradient(135deg,#bafe00,#5b548a);
    color:#fff;
    margin:150px auto 0 ;
    padding: 40px 35px;
    border-radius: 50px;
    text-align: center;
    
}

.weather{
    display:none;
}

.search{
    display: flex;
   width: 100%;
   align-items: center;
   justify-content: space-between;
}

.search input{
    border:0;
    outline: 0;
    background-color:#ebfffc ;
    color:#555;
    padding: 10px 25px;
    border-radius:30px ;
    height: 60px;
    flex: 1;
    margin-right: 16px;
    font-size: 20px;
}

.search button{
    border:0;
    outline: 0;
    background-color:#ebfffc ;
    border-radius: 50%;
    padding: 10px;
    height: 60px;
    width:60px;
    cursor: pointer;
}

.search button img{
    height: 20px;
}

.weather-icon{
    margin-top : 10px;
    width:170px
}

.temp{
    font-size: 80px;
    font-weight: 500;
}

.city{
    font-size: 30px;
    font-weight: 300;
}

.details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    margin-top: 30px;
}

.col--1 img{
   width: 100px;
}

.humidity{
    font-size: 30px;
    font-weight: 100;
    margin-top: 20px;
}

.col--1 p{
   font-size: 20px;
}

.col--2 img{
    width: 100px;
 }
 
 .wind{
     font-size: 30px;
     font-weight: 100;
     margin-top: 20px;
 }
 
 .col--2 p{
    font-size: 20px;
 }

 .error
 {
    margin-top: 10px;
    font-size: 30px;
    text-align: center;
    margin-left: 20px;
    display: none;
 }

 